# .NET Core & Blazor WebAssembly specific ignores

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio files
.vs/
.vscode/
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.tlog
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
*.suo
*.user
*.userosscache
*.dbmdl
*.dbproj.schemaview
*.jfm
*.pfx
*.publishsettings
orleans.codegen.cs

# ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# TeamCity
_TeamCity*

# DotCover
*.dotCover

# NuGet
*.nupkg
*.snupkg
**/[Pp]ackages/*
*.nuget.props
*.nuget.targets
project.lock.json
nuget.exe

# SQL Server files
*.mdf
*.ldf
*.ndf

# Business Intelligence projects
*.rdl.data
*.bim.layout
*.bim_*.settings
*.rptproj.rsuser
*- [Bb]ackup.rdl
*- [Bb]ackup ([0-9]).rdl
*- [Bb]ackup ([0-9][0-9]).rdl

# Microsoft Fakes
FakesAssemblies/

# GhostDoc plugin setting file
*.GhostDoc.xml

# Visual Studio cache files
# files ending in .cache can be ignored
*.[Cc]ache
# but keep track of directories ending in .cache
!?*.[Cc]ache/

# Others
ClientBin/
~$*
*~
*.dbmdl
*.dbproj.schemaview
*.pfx
*.publishsettings
node_modules/
orleans.codegen.cs

# Local History VS Code
.history/

# Blazor
**/.DS_Store
**/.idea/
**/Thumbs.db
**/*.user
**/*.crt
**/*.key
**/.idea
**/.vscode
**/.vs
**/.env
**/coverage/
**/dist/
**/.secrets

# Application specific files
appsettings.Development.json
appsettings.Production.json
appsettings.Staging.json
**/.env
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local

# SQLite Development Database
*.db
*.db-shm
*.db-wal

# Exported test results
TestResults/

# JetBrains Rider files
.idea/
*.sln.iml

